<div class="readable">
    <p id="nomailjetmessages"{% if messages %} class="hidden"{% endif %}>{{ "No Mailjet Messages to list!"|t('app') }}</p>

    {% if messages %}
        <table id="mailjetmessages" class="data fullwidth fixed-layout">
            <thead>
                <tr>
                    <th style="width:15px;">&nbsp;</th>
                    <th>{{ "Status"|t('app') }}</th>
                    <th>{{ "Details"|t('app') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td class="thin">
                            <span class="status {{
                                message.Status in ['opened', 'sent'] ? 'green' :
                                message.Status == 'accepted' ? 'orange' :
                                message.Status in ['failed', 'rejected'] ? 'red' : 'light'
                            }}" title="{{
                                message.Status in ['opened', 'sent'] ? 'Sent / Opened' :
                                message.Status == 'accepted' ? 'Accepted' :
                                message.Status in ['failed', 'rejected'] ? 'Failed / Rejected' : ''
                            }}"></span>
                        </td>
                        <td>
                            <div>{{ message.Subject | title }}</div>
                            <div class="light">
                                <code>{{ message.ArrivedAt | date('Y/m/d H:i:s') }}</code>
                            </div>
                        </td>
                        <td>
                            <div>
                                To: {{ message.ContactAlt | default('Undefined') }}
                            </div>
                            <div class="light">
                                <code>from {{ message.Sender.Email | default('Undefined') }}</code>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if totals.pages > 1 %}
            <nav aria-label="Pagination">
                <ul class="pagination">
                    {% for pageNum in 1..totals.pages %}
                        <li class="page-item{% if currentPage == pageNum %} active{% endif %}">
                            <a href="{{ url('utilities/mailjet-messages-utility', { page: pageNum }) }}" class="page-link">
                                {{ pageNum }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    {% endif %}
</div>